*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.section {
    /* min-height: 100vh; */
    /* display: flex; */
   
    padding: 60px 80px;
    background-color: #fff;
}

.cont {
    max-width: 1100px;
    margin: 0 auto 0 auto;
    width: 90%;
}
.img-cont {
   
}
.img-cont img {
    width: 100%;
    height: auto;
     
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
    font-size: 14px;
    color: #333;
}
.header a {
    color: #fff;
}
.header-right {
    font-size: 14px;
    color: #333;
}
.center-section .cont{
       max-width: 1400px;
    margin: 0 auto;
    padding: 80px 0;
}
